<div airGrid>
  <div airGridItem="3">
    <h1 airMarginBottom>h1 title</h1>
    <h2 airMarginBottom>h2 title</h2>
    <h3 airMarginBottom>h3 title</h3>
    <h4 airMarginBottom>h4 title</h4>
  </div>
  <div airGridItem="3">
    <div airText1 airMarginBottom>
      <div airH3>Text 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi asperiores assumenda cum dicta
      dignissimos esse explicabo facere, fugiat ipsa iste itaque mollitia, officiis, quae quasi sit totam vel
      veritatis.
    </div>
    <div airText2>
      <div airH3>Text 2</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi asperiores assumenda cum dicta
      dignissimos esse explicabo facere, fugiat ipsa iste itaque mollitia, officiis, quae quasi sit totam vel
      veritatis.
    </div>
  </div>
  <div airGridItem="3">
    <div airH1 caption airMarginBottom>Is h1 Caption</div>
    <div airH2 caption airMarginBottom>Is h2 Caption</div>
    <div airH3 caption airMarginBottom>Is h3 Caption</div>
    <div airH4 caption airMarginBottom>Is h4 Caption</div>
    <div airH4>Note</div>
    <div airText2 airColor="text-secondary">Difference title from title with caption is a caption line-height always
      equal 1
    </div>
  </div>
  <div airGridItem="3">
    <div airMarginBottom airH3 airColor="primary">Primary color</div>
    <div airMarginBottom airH3 airColor="accent">Accent color</div>
    <div airMarginBottom airH3 airColor="warn">Warning color</div>
    <div airMarginBottom airH3 airColor="danger">Danger color</div>
    <div airMarginBottom airH3 airColor="success">Success color</div>
    <div airMarginBottom airH3 airColor="text-primary">Text primary color</div>
    <div airMarginBottom airH3 airColor="text-secondary">Text secondary color</div>
  </div>
</div>
