@mixin air-grid($colWidth, $indent) {
  --gap: #{$indent};
  .air-grid {
    gap: 0 #{$indent};
  }
  .air-grid-item {
    width: 100%;
  }
  --grid-item-1: #{$colWidth};

  @for $i from 2 through 12 {
    --grid-item-#{$i}: #{($colWidth * $i) + ($indent * ($i - 1))}
  }
}
