.air-grid-item {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 4px;
  span {

  }
}

:host {
  display: block;
  width: 100%;
}
