@import "../../../cdk/styles";

:host {
  @include set-current-element(label);
  @include element-prop(display, inline-flex);
  @include element-prop(align-items, flex-start);
  @include element-prop(font-weight, 400);
  @include element-prop(cursor, pointer);
  @include element-prop(user-select, auto);
  @include element-prop(margin, 0 0 12px);
  @include element-prop(font-size, 14px);

  &.required {
    &::after {
      content: '*';
      color: var(--color-danger);
      display: block;
      font-size: 1.2em;
    }
  }
}
