@import "../lib/size/can-size";
@import "../lib/size/can-default-sizes";

@mixin air-controls() {
  @include can-default-sizes(input);
  @include can-default-sizes(textarea);

  :root {
    --sm-input-min-width: 24px;
    --sm-input-height: 24px;
    --sm-input-width: 80px;
    --sm-input-font-size: 12px;

    --md-input-min-width: 32px;
    --md-input-height: 32px;
    --md-input-width: 160px;
    --md-input-font-size: 16px;
    --md-input-padding: 0 10px;

    --lg-input-min-width: 36px;
    --lg-input-height: 36px;
    --lg-input-width: 200px;
    --lg-input-font-size: 18px;
    --lg-input-padding: 0 12px;

    --sm-textarea-min-width: var(--sm-input-min-width, 24px);
    --sm-textarea-height: var(--sm-input-min-height, 24px);
    --sm-textarea-width: var(--sm-input-width, 80px);
    --sm-textarea-font-size: var(--sm-input-font-size, 12px);

    --md-textarea-min-width: var(--md-input-min-width, 32px);
    --md-textarea-height: var(--md-input-min-height, 32px);
    --md-textarea-width: var(--md-input-width, 160px);
    --md-textarea-font-size: var(--md-input-font-size, 16px);
    --md-textarea-padding: var(--md-input-padding, 10px);

    --lg-textarea-min-width: var(--lg-input-min-width, 32px);
    --lg-textarea-height: var(--lg-input-min-height, 32px);
    --lg-textarea-width: var(--lg-input-width, 160px);
    --lg-textarea-font-size: var(--lg-input-font-size, 16px);
    --lg-textarea-padding: var(--lg-input-padding, 10px);
  }

  input {
    border: var(--input-border, 1px solid currentColor);
    border-radius: var(--border-radius, 4px);
    color: var(--current-color, #333);
    height: var(--input-height, 28px);
    width: var(--input-width, 120px);
    font-size: var(--input-font-size, 14px);
    padding: var(--input-padding, 8px 0);
  }

  textarea {
    border: var(--textarea-border, 1px solid currentColor);
    border-radius: var(--border-radius, 4px);
    color: var(--current-color, #333);
    height: var(--textarea-height, 28px);
    width: var(--textarea-width, var(--input-width));
    font-size: var(--textarea-font-size, var(--input-font-size));
    padding: var(--textarea-padding, var(--input-padding));
  }
}

