@import "../lib/size/can-size";
@import "../lib/size/can-default-sizes";

@mixin air-controls() {
  @include can-default-sizes(input);

  :root {
    --sm-input-min-width: 24px;
    --sm-input-height: 24px;
    --sm-input-width: 80px;
    --sm-input-font-size: 12px;

    --md-input-min-width: 32px;
    --md-input-height: 32px;
    --md-input-width: 160px;
    --md-input-font-size: 16px;
    --md-input-padding: 0 10px;

    --lg-input-min-width: 36px;
    --lg-input-height: 36px;
    --lg-input-width: 200px;
    --lg-input-font-size: 18px;
    --lg-input-padding: 0 12px;
  }

  input {
    border: var(--input-border, 1px solid currentColor);
    border-radius: var(--border-radius, 4px);
    color: var(--current-color, #333);
    height: var(--input-height, 28px);
    width: var(--input-width, 120px);
    font-size: var(--input-font-size, 14px);
    padding: var(--input-padding, 8px 0);
  }
}

