@mixin air-margin() {
  .air-margin {
    margin: var(--air-margin, 20px);
  }

  .air-margin-top {
    margin-top: var(--air-margin, 20px);
  }

  .air-margin-bottom {
    margin-bottom: var(--air-margin, 20px);
  }

  .air-margin-start {
    margin-inline-start: var(--air-margin, 20px)
  }

  .air-margin-end {
    margin-inline-end: var(--air-margin, 20px);
  }
}
