<div airLayout="column">
  <air-toggle airMarginBottom="l" color="primary">Is Toggle</air-toggle>
  <air-checkbox>Is checkbox</air-checkbox>
  <form [formGroup]="passwordsGroup">
    <input type="password" formControlName="password">
    <input type="password" formControlName="confirm_password">
  </form>
  <air-radio-group [formControl]="radio">
    <air-radio-button *ngIf="timer$ | async" value="first">First option</air-radio-button>
    <air-radio-button value="second">Second Option</air-radio-button>
  </air-radio-group>
  <div airGrid airMarginTop="xl">
    <air-form-field airGridItem="4">
      <label air-label for="test_input">Name your college</label>
      <input placeholder="The College" airInput id="test_input">
    </air-form-field>
    <air-form-field airGridItem="4">
      <label air-label for="domain">Name your college</label>
      <input airInput placeholder="Domain" id="domain">
    </air-form-field>
    <air-form-field airGridItem="4">
      <label air-label for="subdomain">Subdomain</label>
      <input airInput placeholder="Subdomain" id="subdomain">
    </air-form-field>
  </div>
  <air-form-field airGrid airMarginBottom>
    <input type="text" airInvisibleInput placeholder="Invisible input">
  </air-form-field>
  <air-form-field>
    <label air-label for="textarea">Textarea example</label>
    <textarea id="textarea" airTextarea placeholder="Textarea placeholder"></textarea>
  </air-form-field>
  <air-form-field airMarginTop airGridItem="4">
    <label air-label for="select">Select example</label>
    <air-select placeholder="Please select options" id="select">
      <air-option>Nothing</air-option>
      <air-option value="1">First option</air-option>
      <air-option value="2">Second option
        <air-dynamic-icon airMarginStart name="umbrella"></air-dynamic-icon>
      </air-option>
    </air-select>
  </air-form-field>
  <air-file airMarginTop accept=".pdf" (onFileUpload)="loadedFile = $event">
    <air-file-item *ngIf="loadedFile">
      {{loadedFile.name}}
      <button (click)="loadedFile = undefined" air-button fill="clear" airPaddingStart="s" airPaddingEnd="none">
        <air-dynamic-icon size="xs" name="remove"></air-dynamic-icon>
      </button>
    </air-file-item>
  </air-file>
  <div airLayout="row" airMargin="l auto" airStretch>
    <air-select [formControl]="status" airGridItem="3"
                [placeholder]="'enroll_requests.filter.status_placeholder'">
      <air-option>All</air-option>
      <air-option *ngFor="let option of selectValues$ | async" [value]="option.key">{{option.value}}</air-option>
    </air-select>
  </div>
  <form airLayout="row" airColGap="m">
    <air-form-field airGridItem="3">
      <input airInput [placeholder]="'admin_courses.search_placeholder'">
      <air-dynamic-icon airMarginEnd="s" end color="text-secondary" name="search"></air-dynamic-icon>
    </air-form-field>
    <air-select airGridItem="3">
      <air-option>{{'admin_courses.all_categories'}}</air-option>
      <air-option>second option</air-option>
    </air-select>
    <air-select airGridItem="3" [placeholder]="'admin_courses.statuses'">
      <air-option>{{'admin_courses.all_statuses'}}</air-option>
      <air-option>second option</air-option>
    </air-select>
    <a airMarginStart="auto" air-button>{{'admin_courses.create'}}</a>
  </form>
  <form [formGroup]="sliderGroup" [fill]="startValues">
    <air-form-field airGridItem="2">
      <label air-label>Opacity</label>
      <air-slider #slider="slider" [counter]="slider.templatePercent"
                  formControlName="opacity1">
      </air-slider>
    </air-form-field>

    <air-form-field airGridItem="2">
      <label air-label>Opacity</label>
      <air-slider #slider="slider"
                  formControlName="opacity2">
      </air-slider>
    </air-form-field>
    <air-form-field airGridItem="2">
      <label air-label>Min 2, Max 10</label>
      <air-slider #slider="slider"
                  [min]="2"
                  [max]="10"
                  formControlName="count">
      </air-slider>
    </air-form-field>
  </form>
</div>
