<div airLayout="column">
  <air-toggle airMarginBottom="l" color="primary">Is Toggle</air-toggle>
  <air-checkbox>Is checkbox</air-checkbox>
  <air-radio-group>
    <air-radio-button value="first">First option</air-radio-button>
    <air-radio-button value="second">Second Option</air-radio-button>
  </air-radio-group>
  <div airGrid airMarginTop="xl">
    <air-form-field airGridItem="4">
      <label air-label for="test_input">Name your college</label>
      <input placeholder="The College" airInput id="test_input">
    </air-form-field>
    <air-form-field airGridItem="4">
      <label air-label for="domain">Name your college</label>
      <input airInput placeholder="Domain" id="domain">
    </air-form-field>
    <air-form-field airGridItem="4">
      <label air-label for="subdomain">Subdomain</label>
      <input airInput placeholder="Subdomain" id="subdomain">
    </air-form-field>
  </div>
  <air-select placeholder="Please select options">
    <air-option>Nothing</air-option>
    <air-option value="1">First option</air-option>
    <air-option value="2">Second option <air-dynamic-icon airMarginStart name="umbrella"></air-dynamic-icon></air-option>
  </air-select>
</div>
