@import "../../../cdk/styles";

@include set-current-element(tab-links-container);
:host {
  @include element-prop(display, block);
  @include element-prop(position, relative);
  @include element-prop(width, 100%);

  &.mode-tabs {
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      @include element-prop(border-width, 1px, $prop-name: height);
      @include element-prop(border-position, 1px, $prop-name: bottom);
      @include element-prop(border-color, var(--border-color), $prop-name: background-color);
    }
  }

  @include set-current-element(tab-link);

  ::ng-deep {
    .air-button {
      @include element-prop(margin, 0);
    }
  }

  &.mode-buttons {
    @include set-current-element(tab-button);

    ::ng-deep {
      .air-button {
        &:not(.active) {
          @include element-prop(background, current-color($contrast: true));
          @include element-prop(border, 1px solid current-color());
          @include element-prop(color, var(--text-primary));
        }

        &:not(:last-child) {
          @include element-prop(margin-end, var(--indent-xxs, 8px), $prop-name: margin-inline-end);
        }
      }
    }

    @include reset-current-modifier;
  }

  &.mode-tabs {
    @include set-current-element(tab-link);

    ::ng-deep {
      .air-button {
        @include element-prop(border, none);
        @include element-prop(border-bottom, 3px solid transparent);
        @include element-prop(color, var(--text-primary));
        @include element-prop(background, transparent);
        @include element-prop(border-radius, 0);
        @include element-prop(padding-right, 3px);
        @include element-prop(padding-left, 3px);

        &:not(:last-child) {
          @include element-prop(margin-end, var(--indent-xl, 40px), $prop-name: margin-inline-end);
        }

        &.active {
          @include set-current-modifier(active);
          @include element-prop(font-weight, 500);
          @include element-prop(border-bottom-color, current-color());
          @include reset-current-modifier;
        }
      }
    }
  }

  @include reset-current-element;
}
