<air-tabs-links>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/first">First tab</button>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/second">Second Tab</button>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/third">Third Tab</button>
</air-tabs-links>

<air-tabs-links mode="buttons" airMarginTop>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/first">First tab</button>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/second">Second Tab</button>
  <button color="accent" air-button routerLinkActive="active" routerLink="/tabs/third">Third Tab</button>
</air-tabs-links>
