.air-input {
  border: var(--input__border, 1px solid currentColor);
  border-radius: var(--input__border-radius, var(--border-radius));
  color: var(--input__color, #333);
  height: var(--input__height, 28px);
  width: var(--input__width, 100%);
  max-width: var(--input__max-width, 320px);
  font-size: var(--input__font-size, 14px);
  padding: var(--input__padding, 8px 0);
}
