.air-textarea {
  border: var(--textarea__border, 1px solid currentColor);
  border-radius: var(--textarea__border-radius, var(--border__radius, 4px));
  color: var(--textarea__color, #333);
  height: var(--textarea__height, auto);
  min-height: var(--textarea__min-height, 28px);
  width: var(--textarea__width, var(--input__width, 100%));
  max-width: var(--textarea__max-width, var(--input__max-width, 320px));
  font-size: var(--textarea__font-size, var(--input__font-size, 14px));
  padding: var(--textarea-padding, var(--input__padding, 8px 0));
}
