<div class="buttons">
  <button air-button>Default</button>
  <button air-button color="primary">Primary</button>
  <button air-button color="accent">Accent</button>
  <button air-button color="warning">Warning</button>
  <button air-button color="danger">Danger</button>
  <button air-button fill="outline" color="primary">Primary Outline</button>
  <button air-button fill="clear" color="accent">Accent Clear</button>
  <button air-button [disabled]="true" color="primary">Primary Disabled</button>
  <button air-button expand="block" color="primary">Primary Block</button>
  <button air-button expand="full" color="accent">Accent Full</button>
  <button air-button size="sm" color="primary">Small Primary Button</button>
  <button air-button size="md" color="danger">Medium Danger Button</button>
  <button air-button size="lg" color="warning">Large Warning Button</button>
</div>

