@import "../../projects/kit/src/lib/cdk/styles";
@import "../../projects/kit/src/lib/typography/typography";

:host {
  @include app-root();
}

header {
  background: #ffffff;
  border-bottom: 1px solid #E8EAF5;
  width: 100%;
}

air-nav {
  min-width: 315px;
}

