<air-page>
  <header airHeader>Air header</header>
  <air-nav airStickyStart>
    <a air-list-item href="">
      Dashboard
    </a>
    <air-list-item>
      <air-expansion>
        <air-expansion-header>Requests</air-expansion-header>
        Dashboard content
      </air-expansion>
    </air-list-item>

    <air-list-item>
      <air-expansion>
        <air-expansion-header>Users</air-expansion-header>
        Dashboard content
      </air-expansion>
    </air-list-item>
    <a air-list-item href="">
      Courses
    </a>
  </air-nav>
  <air-container>
    my content
  </air-container>
</air-page>
