<button air-button color="text-secondary" fill="clear">
  <air-dynamic-icon color="text-secondary" name="umbrella"></air-dynamic-icon>
</button>
<button air-button color="text-primary" fill="clear">
  <air-dynamic-icon color="text-primary" name="umbrella"></air-dynamic-icon>
</button>
<h1 airH1>Buttons</h1>
<h2 airH2>Size attribute</h2>
<p>size without value = "m"</p>
<p>size="m" is equal size</p>
<div>
  <button air-button size="xxs" airMarginEnd>Xss button</button>
  <button air-button size="xs" airMarginEnd>Xs button</button>
  <button air-button size="s" airMarginEnd>S button</button>
  <button air-button size="m" airMarginEnd>M button</button>
  <button air-button size="l" airMarginEnd>L button</button>
  <button air-button size="xl" airMarginEnd>Xl button</button>
  <button air-button size="xxl" airMarginEnd>Xxl button</button>
</div>
<h2 airH2>Fill attribute</h2>
<div>
  <button air-button airMarginEnd>Default (solid) button</button>
  <button air-button airMarginEnd fill="outline">Outline button</button>
  <button air-button airMarginEnd fill="clear">Clear button</button>
</div>
<h2 airH2>Expand attribute</h2>
<div>
  <button air-button expand="block" airMarginBottom>Block button</button>
  <button air-button expand="full">Full button</button>
</div>
<h2 airH2>Color attribute</h2>
<p>Color attribute without value = color="primary"</p>
<div>
  <button air-button color="primary" airMarginEnd>Primary button</button>
  <button air-button color="accent" airMarginEnd>Accent button</button>
  <button air-button color="warn" airMarginEnd>Warn button</button>
  <button air-button color="danger" airMarginEnd>Danger button</button>
  <button air-button color="disabled" airMarginEnd>Disabled button</button>
</div>
<h2>Button with icon</h2>
<button air-button color="primary" airMarginEnd>
  <air-dynamic-icon colorMode="all" name="umbrella"></air-dynamic-icon>
</button>
<button air-button fill="outline">
  <air-dynamic-icon name="umbrella"></air-dynamic-icon>
</button>
<button air-button airMarginStart>
  <air-dynamic-icon name="umbrella" airMarginEnd></air-dynamic-icon>
  Button with text and icon
</button>
