<h1 airH1>Buttons</h1>
<h2 airH2>Button sizes</h2>
<div>
  <button air-button size="xxs" airMarginEnd>Xss button</button>
  <button air-button size="xs" airMarginEnd>Xs button</button>
  <button air-button size="s" airMarginEnd>S button</button>
  <button air-button size="m" airMarginEnd>M button</button>
  <button air-button size="l" airMarginEnd>L button</button>
  <button air-button size="xl" airMarginEnd>Xl button</button>
  <button air-button size="xxl" airMarginEnd>Xxl button</button>
</div>
