@import "../../../cdk/styles";

:host {
  display: none !important;
}

.popover {
  @include set-current-element(popover);
  @include element-prop(display, inline-flex);
  @include element-prop(position, relative);
  @include element-prop(padding, var(--indent-m) var(--indent-l));
  @include element-prop(background-color, current-color($shade: light));
  @include element-prop(border-radius, 6px);
  @include element-prop(transform, translateY(-13px));

  .popover-content {
    position: relative;
    z-index: 2;
  }

  .arrow {
    @include set-current-element(popover-arrow);
    @include element-prop(position, absolute);
    @include element-prop(left, var(--indent-l));
    @include element-prop(bottom, 0);
    @include element-prop(transform, translateY(100%));
    @include element-prop(fill, current-color($shade: light));
  }
}
