@import "../../../cdk/styles";
@import "../../styles/mixins";

@include air-tp(text1, 16px, 14px, 400);
@include air-tp(text2, 14px, 12px, 400);

.air-text1, .air-text2 {
  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
