<div airColumnGap airRowGap="xxs" airLayout="row wrap">
  <button air-button fill="outline" airTooltip="Default tooltip message">Default tooltip</button>
  <button air-button fill="outline" airTooltip="center bottom position" airToolTipPosition="bottom center">Center bottom</button>
  <button air-button fill="outline" airTooltip="center start position" airToolTipPosition="center start">Center start</button>
  <button air-button fill="outline" airTooltip="center end position" airToolTipPosition="center end">Center end</button>
  <button air-button fill="outline" airTooltip="top start position" airToolTipPosition="top start">Top Start</button>
  <button air-button fill="outline" airTooltip="top end position" airToolTipPosition="top end">Top end</button>
  <button air-button fill="outline" airTooltip="bottom end position" airToolTipPosition="bottom end">Bottom end</button>
  <button air-button fill="outline" airTooltip="bottom start position" airToolTipPosition="bottom start">Bottom start</button>
  <button air-button fill="outline" airTooltip="By click" airTooltipShowEvent="click" airTooltipHideEvent="click outside">By click</button>
</div>
