@use "sass:map";
@import "lib/core/color/default-theme-palette";
@import "lib/core/color/default-colors";
@import "lib/core/disabled/disabled";
@import "styles/initial";

@mixin air-theme($options: (
  colors: true,
  default-vars: true,
  padding:true,
  margin: true,
  icons: true,
  controls: true,
  initial:true) ) {
  @include air-default-theme-palette;

  @if (with($options, initial)) {
    @include air-initial-styles;
  }

  @if with($options, colors) {
    @include air-default-colors;
  }


}

@function with($options, $key) {
  @return (map.has-key($options, $key) == false) or (map.get($options, $key));
}
