@import "../../../cdk/styles";

:host {
  @include set-current-element(form-field);
  @include element-prop(display, inline-flex);
  @include element-prop(align-items, flex-start);
  @include element-prop(width, auto);
  @include element-prop(height, auto);

  &:not(.content-inline) {
    @include element-prop(flex-direction, column);
  }

  &.content-inline {
    @include set-current-modifier(inline);
    @include element-prop(flex-direction, row);
    @include element-prop(align-items, center);

    ::ng-deep {
      .air-label {
        @include set-current-element(form-field-label);
        margin-bottom: var(--label-content-inline-margin, 0);
        margin-inline-end: var(--label-margin-inline-end, var(--indent-s));
      }
    }
  }

  .control {
    @include set-current-element(form-field-control);
    @include element-prop(position, relative);
    @include element-prop(display, flex);
    @include element-prop(align-items, center);

    .prefix, .suffix {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .suffix {
      right: 0;

      ::ng-deep {
        button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .prefix {
      left: 0;

      ::ng-deep {
        button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    ::ng-deep {
      button {
        margin: 0;
      }
    }
  }


  &:not(:last-child) {
    margin-bottom: var(--form-field-margin-bottom, 12px);
  }
}

@include reset-current-element;
