@import '~@angular/cdk/overlay-prebuilt.css';
@import "~@airy-ui/cdk/styles/initial";
@import "~@airy-ui/cdk/styles";
@import "~@airy-ui/layout/styles";
@import "~@airy-ui/typography";
@import "../projects/controls/index";


.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

:root {
  @include air-colors(
    $background: #fff,
    $background-secondary: #F6F9FF,
    $text: #1B1B1E,
    $text-secondary: #A1A5C0,
    $borders: #E8EAF5,
    $primary: (main: #0A59EB, dark: #052C76, light: #C4D8FD, shades: (50: #EBF2FE)),
    $accent: (main: #079DED, dark: #044E77, light: #C4E9FD, shades: (50: #EBF2FE)),
    $success: (main: #43B145, dark: #225923, light: #D3EED3, shades: (50: #F0F9F0)),
    $warn: (main:#FFBC20, dark: #E8A201, light: #FFF4C2, shades: (50: #FFF6EB)),
    $danger: (main: #DC1833, dark: #B8142A, light: #F9C8CE, shades: (50: #FDEDEF)),
    $disabled: (main: #A1A5C0, dark: #74778A, light: #1B1B1E)
  );
  --border-radius: 6px;

  @include air-grid(74px, 28px);
  @include air-default-button-sizes;
  @include air-default-indents;
}

:root {
  --container-max-width: 1400px;
}
