<air-counter-list cdkDropList>
  <air-list-item cdkDrag>
    <div airTableLikeCell="title" airMarginEnd="l">Shot</div>
    <div>next</div>
  </air-list-item>
  <air-list-item cdkDrag>
    <div airTableLikeCell="title" airMarginEnd="l" airLayout="row">
      <air-toggle></air-toggle>
      <span>published</span>
    </div>
    <div>next</div>
  </air-list-item>
  <air-list-item cdkDrag>
    <div airTableLikeCell="title" airMarginEnd="l" airLayout="row">
      <air-toggle></air-toggle>
      <span>unpublished</span>
    </div>
    <div>next</div>
  </air-list-item>
  <air-list-item cdkDrag>
    <div airTableLikeCell="title" airMarginEnd="l">Shot</div>
    <div>next</div>
  </air-list-item>
</air-counter-list>
