<air-counter-list cdkDropList>
  <air-list-item cdkDrag>
    <div airMaxWidthByContent="title" airMarginEnd="l">Shot</div>
    <div>next</div>
  </air-list-item>
  <air-list-item cdkDrag>
    <div airMaxWidthByContent="title" airMarginEnd="l">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa dolor, doloremque ea eius ipsum
        laboriosam necessitatibus nobis odit omnis optio quos recusandae repellat, reprehenderit sit tempore ut
        veritatis vitae?
      </div>
    </div>
    <div>next</div>
  </air-list-item>
  <air-list-item cdkDrag>
    <div airMaxWidthByContent="title" airMarginEnd="l">Shot</div>
    <div>next</div>
  </air-list-item>
</air-counter-list>
